* {
    margin: 0;
    padding: 0;
}

.page-container {
    background: #54AFFF;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.header-logo {
    width: 35px;
    height: 36px;
}

.top-nav-menu {
    display: flex;
}

.menu-item {
    margin: 5px;
    list-style: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.page-heading {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;

    color: #FDFDFD;
    transition: color 0.4s;
}

.page-heading:hover {
    color: red;
}

.heading-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160.68%;

    color: #FFFFFF;
}

.social-button {
    margin-right: 20px;
    width: 150px;
}

.heading-center-content {
    margin: 0 auto;
    padding: 50px;
    max-width: 720px;
}

.header-logo-wrapper {
    margin: 10px;
    display: flex;
    align-items: center;
}

.nav-menu-wrapper {
    margin: 10px;
    display: flex;
}